<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="styles/base.css" />
		<title>Three.js Triangles Example Using Ribbon</title>
	</head>
	<body>
		<div id="three"></div>
		<script charset="utf-8" src="scripts/jquery.js"></script>
		<script charset="utf-8" src="scripts/three.js"></script>


		// <script src="scripts/shaders/ConvolutionShader.js"></script>
		<script src="scripts/shaders/CopyShader.js"></script>

		<script src="scripts/shaders/EffectComposer.js"></script>
		<script src="scripts/shaders/MaskPass.js"></script>
		<script src="scripts/shaders/RenderPass.js"></script>
		<script src="scripts/shaders/ShaderPass.js"></script>

		<script src="scripts/Detector.js"></script>
		<script charset="utf-8" src="scripts/application.js"></script>
		<div id="tag">Three.Js Triangle Example - Creating a mesh with Triangle Strips (Ribbon)<br/><i>Click and drag to move the camera</i></div>
	</body>
</html>